**/*/node_modules
**/*/*.log
**/*/*.env

website/certs/*.pem

website/modules/tools/lights/*.db
website/modules/tools/lights/*.cfg

website/modules/auth/db/*.db

tools/stake-check/*.txt
tools/dns-updater/*.log
tools/wifi-check/*.log