bfg.jar

**/*/node_modules
**/*/*.log
**/*/*.env
**/*/*.DS_Store
.DS_Store
*.apk

mobile/android/app/google-services.json

website/data/*
website/certs/*.pem

website/modules/tools/lights/*.db
website/modules/tools/lights/*.cfg

website/modules/tools/cryptoshare/api/data/*.db
website/modules/tools/cryptoshare/api/data/*.key
website/modules/tools/cryptoshare/api/data/*.txt

website/modules/tools/finances/data/**/*.db

website/modules/auth/db/*.db
website/modules/bot/firebase.json
website/modules/bot/data/*.db
website/modules/bot/data/messages/*.txt

tools/stake-check/*.txt
tools/dns-updater/*.log
tools/wifi-check/*.log