<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/core/head'); %>
    <body>
        <%- include('../partials/components/about'); %>
        <script src="./assets/js/main.js"></script>
    </body>
</html>
