<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/core/head'); %>
    <body>
        <%- include('../partials/components/loading'); %> <%-
        include('../partials/components/about'); %>
        <script src="./assets/js/storage.js"></script>
        <script src="./assets/js/main.js"></script>
        <script src="./assets/js/caching.js"></script>
        <script src="./assets/js/background.js"></script>
    </body>
</html>
