<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Xtrendence | Tools</title>
        <%- include('../partials/core/head'); %>
    </head>
    <body class="page-tools">
        <%- include('../partials/components/back'); %> <%-
        include('../partials/components/loading'); %> <%-
        include('../partials/components/menu'); %>
        <script src="./assets/js/device.js"></script>
        <script src="./assets/js/storage.js"></script>
        <script src="./assets/js/main.js"></script>
        <script src="./assets/js/caching.js"></script>
        <script src="./assets/js/background.js"></script>
    </body>
</html>
