<div class="glass input-wrapper">
    <input
        type="text"
        id="input"
        placeholder="Say something..."
        autocomplete="off"
    />
    <div class="glass overlay button-wrapper">
        <%- include('../icons/Send') %>
    </div>
</div>

<script>
    const buttonSend = document.getElementsByClassName('button-wrapper')[0];
    const input = document.getElementById('input');

    input.focus();

    let previousIndex;

    function handleSend() {
        const message = input.value;

        if (message.length > 0) {
            sendMessage(message);
            input.value = '';
        }
    }

    function sendMessage(message) {
        socket.emit('message', {
            message,
        });
    }

    buttonSend.addEventListener('click', () => {
        handleSend();
    });

    function repeatMessage(previous) {
        if (previousIndex === undefined) {
            previousIndex = conversation.messages.length - 1;
        }

        if (previousIndex < 0) {
            previousIndex = 0;
        }

        if (previousIndex > conversation.messages.length - 1) {
            previousIndex = conversation.messages.length - 1;
        }

        input.value = conversation.messages[previousIndex].message;

        if (previous) {
            previousIndex--;
        } else {
            previousIndex++;
        }
    }

    input.addEventListener('focus', () => {
        document.body.removeAttribute('data-message');
        document.body.classList.remove('message-menu');
    });

    input.addEventListener('keydown', (event) => {
        document.body.removeAttribute('data-message');
        document.body.classList.remove('message-menu');

        if (event.key === 'Enter') {
            handleSend();
        }

        if (event.key === 'ArrowUp') {
            event.preventDefault();
            repeatMessage(true);
        }

        if (event.key === 'ArrowDown') {
            event.preventDefault();
            repeatMessage(false);
        }
    });
</script>

<style>
    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 100%;
    }
    body.settings .input-wrapper {
        display: none;
    }
    .input-wrapper input {
        background: transparent;
        padding: 0 12px;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 16px;
        color: var(--accent-contrast);
    }
    .input-wrapper input::placeholder {
        color: var(--accent-contrast);
    }
    .glass.overlay.button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: opacity 0.25s;
    }
    .button-wrapper svg {
        width: 20px;
        height: 20px;
        fill: var(--accent-contrast);
    }
    #desktop .button-wrapper:hover {
        opacity: 0.8;
    }
</style>
