<div class="glass messages-wrapper"></div>

<style>
    .messages-wrapper {
        display: flex;
        width: 100%;
        height: calc(100% - 48px - 48px);
    }
</style>

<script>
    socket.on('response', (response) => {
        console.log(response);
    });
</script>
