<div class="glass messages-wrapper"></div>

<style>
    .messages-wrapper {
        display: flex;
        width: 100%;
        height: calc(100% - 48px - 48px);
        overflow: hidden auto;
        flex-direction: column;
    }
    body.settings .messages-wrapper {
        display: none;
    }

    .messages-wrapper .message {
        background: var(--dark-transparent-20);
        padding: 10px;
        border-radius: 10px;
        margin: 10px 10px 0 10px;
        transition: background 0.25s;
        cursor: pointer;
    }
    #desktop .messages-wrapper .message:hover {
        background: var(--dark-transparent-40);
    }
    .messages-wrapper .message:last-of-type {
        margin-bottom: 10px;
    }
    .messages-wrapper .message .break {
        display: block;
        margin: 10px 0;
    }
    .messages-wrapper .message .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .messages-wrapper .message .row.user {
        align-items: flex-end;
    }
    .messages-wrapper .message .row.bot {
        align-items: flex-start;
    }

    .messages-wrapper .message .row .bubble {
        padding: 10px;
        border-radius: 8px;
        margin: 4px;
    }
    .messages-wrapper .message .row.user .bubble {
        background: var(--bubble-user);
    }
    .messages-wrapper .message .row.bot .bubble {
        background: var(--bubble-bot);
    }
    .messages-wrapper .message .row .bubble p {
        margin: 0;
        color: var(--bubble-text);
        font-weight: 300;
    }
</style>
