<div class="glass navigation-bar"></div>

<style>
    .navigation-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 100%;
    }
</style>
