<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/core/head') %>
        <title>Riley | Conversation</title>
    </head>
    <body class="switched">
        <script src="./assets/js/device.js"></script>
        <script src="./assets/js/utils.js"></script>
        <script src="./assets/js/connection.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>
