<head>
    <title>Xtrendence | Home</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta
        name="description"
        content="This is Xtrendence's site. Stop scrolling and come in."
    />
    <meta
        name="keywords"
        content="Xtrendence,Adrian,Nouchin,iOS,Tutorial,Portfolio,CSS,JavaScript,PHP,Programming,Computer,Science"
    />
    <meta name="author" content="Xtrendence" />
    <meta charset="utf-16" />
    <style type="text/css" id="root-style">
        :root {
            --accent-color: rgb(250, 114, 104);
            --shadow-light: 0 6px 15px rgba(40, 40, 40, 0.08);
            --shadow-dark: 0 6px 15px rgba(40, 40, 40, 0.2);
            --font-family: 'Helvetica Neue', 'Lucida Grande', 'Tahoma',
                'Verdana', 'Arial', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="./assets/css/core.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/resize.css" />
    <link rel="stylesheet" href="./assets/css/background.css" />
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="./assets/img/favicon/apple-touch-icon.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="./assets/img/favicon/favicon-32x32.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="./assets/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/img/favicon/site.webmanifest" />
    <link
        rel="mask-icon"
        href="./assets/img/favicon/safari-pinned-tab.svg"
        color="#000000"
    />
    <link rel="shortcut icon" href="./assets/img/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
        name="msapplication-config"
        content="./assets/img/favicon/browserconfig.xml"
    />
    <meta name="theme-color" content="#000000" />
</head>
